

.submit-button{
    margin: 40px;
    padding: 0;
    width: 60px;
    height: 25px;
    background-color: moccasin;
}

#submit-button-one{
    font-size: 16px;
    color: brown;
}

.submit-button:hover{
    background-color: seagreen;
}

