
.submit-button{
    margin: 40px;
    padding: 0;
    width: 60px;
    height: 25px;
    background-color: moccasin;
}

#submit-button-two{
    font-size: 12px;
    color: darkblue ;
}

.submit-button:hover{
    background-color: seagreen;
}

