

/*
Buttons

Buttons which submits the related input field and change some styles of the input and body

Markup:
<button type="button" id="submit-button-one" class="submit-button {$modifiers}">Submit</button>

#submit-button-one        - determines styles of the firs button
.submit-button            - determines common styles of the buttons
:hover                    - changes background and text styles of the button

Styleguide 1.3
Compatibility untested.
*/


.submit-button{
  margin: 40px;
  padding: 0;
  width: 60px;
  height: 25px;
  background-color: moccasin;
  &:hover{
    background-color: seagreen;
  }
}

#submit-button-one{
  font-size: 16px;
  color: brown;
}

