
button.sg {
    display: inline;

    margin-right: 8px;
    padding: 8px;

    cursor: pointer;

    color: white;
    border-radius: 5px;
    background-color: #008000;
}
button.sg:hover {
     background-color: antiquewhite;
 }
button.sg:active {
     background-color: yellow;
 }

button.sg.primary {
     color: white;
     background-color: red;
}

button.sg:active {
    background-color: #778899;
}

button.sg:hover {
    background-color: khaki;
}



button.sg:disabled {
     cursor: default;

     color: #999;
     background-color: slateblue;
 }
