/*
Buttons

Buttons which submits the related input field and change some styles of the input and body

Markup:
<button type="button" id="submit-button-two" class="submit-button {$modifiers}">Submit</button>

.submit-button            - determines common styles of the buttons
#submit-button-two        - determines styles of the second button
:hover                    - changes background and text styles of the button

Styleguide 1.2
Compatibility untested.
*/

.submit-button{
  margin: 40px;
  padding: 0;
  width: 60px;
  height: 25px;
  background-color: moccasin;
  &:hover{
    background-color: seagreen;
  }

}

#submit-button-one{
  font-size: 16px;
  color: brown;
}

