button.sg.pseudo-class-hover {
  background-color: antiquewhite;
}

button.sg.pseudo-class-active {
  background-color: yellow;
}

button.sg.pseudo-class-active {
  background-color: #778899;
}

button.sg.pseudo-class-hover {
  background-color: khaki;
}

button.sg.pseudo-class-disabled {
  cursor: default;
  color: #999;
  background-color: slateblue;
}.submit-button.pseudo-class-hover {
  background-color: seagreen;
}.submit-button.pseudo-class-hover {
  background-color: seagreen;
}