
button.sg {
    display: inline;

    margin-right: 8px;
    padding: 8px;

    cursor: pointer;

    color: white;
    border-radius: 5px;
    background-color: #008000;
}
button.sg:hover {
     background-color: antiquewhite;
 }
button.sg:active {
     background-color: yellow;
 }

button.sg.primary {
     color: white;
     background-color: red;
}

button.sg:active {
    background-color: #778899;
}

button.sg:hover {
    background-color: khaki;
}



button.sg:disabled {
     cursor: default;

     color: #999;
     background-color: slateblue;
 }


.submit-button{
    margin: 40px;
    padding: 0;
    width: 60px;
    height: 25px;
    background-color: moccasin;
}

#submit-button-one{
    font-size: 16px;
    color: brown;
}

.submit-button:hover{
    background-color: seagreen;
}


.submit-button{
    margin: 40px;
    padding: 0;
    width: 60px;
    height: 25px;
    background-color: moccasin;
}

#submit-button-two{
    font-size: 12px;
    color: darkblue ;
}

.submit-button:hover{
    background-color: seagreen;
}

